<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <<h1>{{ car.title }}</h1>
    <img src="{{ car.image.url }}">
    <br><br><br>
        <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
            <a href="{% url 'delete' car.id %}" ><h4>Delete</h4></a>
                <label> Title: </label>
                <input type="text" name="title" placeholder="Enter title" value="{{ car.title }}">

                <br><br><br>
                <label> color: </label>

                    <select name="color_id">
                      {% for color in colors %}
                        <option value="{{ color.id }}">{{ color.title }}</option>
                      {% endfor %}

                    </select>

                <br><br><br>
                <label> Category: </label>

                    <select name="category_id">
                      {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.title }}</option>
                      {% endfor %}

                    </select>

                <br><br><br>
                <label> Year: </label>
                <input type="text" name="year" placeholder="Enter year" value="{{ car.year }}">

                <br><br><br>

                <label> Milage: </label>
                <input type="number" name="milage" placeholder="Enter milage" value="{{ car.milage }}">

                <br><br><br>
                <label> Engine Capacity: </label>
                <input type="number" name="engine_capacity" placeholder="Enter engine capacity" value="{{ car.engine_capacity }}">

                <br><br><br>
                <label> Image: </label>
                <input type="file" name="image" value="{{ car.image }}">


                <br><br><br>

                <button type="submit"> Save </button>

        </form>


<!--   easy option on Bilal's git hub -->


</center>
</body>
</html>