{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<center>
    <h1> Cars</h1>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <label> Title: </label>
        <input type="text" name="title" placeholder="Enter title">

        <br><br><br>
        <label> color: </label>

            <select name="color_id">
              {% for color in colors%}
                <option value="{{ color.id }}">{{ color.title }}</option>
              {% endfor %}

            </select>

        <br><br><br>
        <label> Category: </label>

          <select name="category_id">
              {% for category in categories %}
                <option value="{{ category.id }}">{{ category.title }}</option>
              {% endfor %}

          </select>

        <br><br><br>
        <label> Year: </label>
        <input type="text" name="year" placeholder="Enter year">

        <br><br><br>

        <label> Milage: </label>
        <input type="number" name="milage" placeholder="Enter milage">

        <br><br><br>
        <label> Engine Capacity: </label>
        <input type="number" name="engine_capacity" placeholder="Enter engine capacity">

        <br><br><br>
        <label> Image: </label>
        <input type="file" name="image">


        <br><br><br>

        <button type="submit"> Save </button>

    </form>
</center>

</body>
</html>